@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply dark:bg-[#111] dark:text-gray-300;
  /* font-inter */
  /* bg-[url(https://media.gettyimages.com/id/1341288649/photo/75mpix-panorama-of-beautiful-mount-ama-dablam-in-himalayas-nepal.jpg?s=2048x2048&w=gi&k=20&c=myqGqw2-aPloyzruscJrGxtZ2KmIgt4-CVwRyxmmlrM=)]; */
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04] ring shadow-2xl ring-gray-900/5 z-50;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
}

@layer swiper {

  .swiper-scrollbar {
    display: none !important;
  }
  /* Navigation */
  .custom-swiper .swiper-button-next,
  .custom-swiper .swiper-button-prev {
    @apply !text-black dark:!text-white !size-10 rounded-full transition-transform duration-100 !-translate-y-5;
  }

  .custom-swiper .swiper-button-next::after,
  .custom-swiper .swiper-button-prev::after {
    @apply !text-xl;
  }

  .custom-swiper .swiper-button-next:active,
  .custom-swiper .swiper-button-prev:active {
    @apply scale-90;
  }

  .custom-swiper .swiper-button-next:hover,
  .custom-swiper .swiper-button-prev:hover {
    @apply !text-[var(--purple-color)] !font-bold bg-black/40 dark:bg-white/40;
  }

  /* Pagination */
  .custom-swiper .swiper-pagination-bullet {
    @apply !bg-black/60 dark:!bg-white/60 !size-1.5 translate-y-3.5;
  }

  /* Активна точка */
  .custom-swiper .swiper-pagination-bullet-active {
    @apply !bg-[var(--purple-color)] !size-2.5;
  }


}

/* @variant lg {
  min-width: "925px";
} */

@theme {
  /* --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alambaster-500: #e0e1dd; */
  --default-font-family: "Inter", "sans-serif";
  --breakpoint-lg: 925px;
  --breakpoint-md: 847px;
  --breakpoint-sm: 780px;
  /* По подразбиране за md */


  /* Header */
  --bg-dark-header: #18181A;
  --bg-light-header: #fff;

  --bg-img: "https://t3.ftcdn.net/jpg/12/85/10/50/1000_F_1285105074_WokvIntOeNb395MfdRWEgkklpNFFn3b3.jpg";

  /* Buttons */
  --btn-dark-color: #d2d6dd;
  --btn-light-color: black;

  /* Hero */
  --bg-light-hero: #fff;
  --bg-dark-hero: #18181A;
  --drop-shadow-3xl-hero: 0 35px 35px rgba(0, 0, 0, 0.25);

  /* Footer */
  --bg-dark-footer: #1e29398a;
  /* #18181a8a; */
  --bg-light-footer: rgba(236, 233, 230, 0.638);
  --drop-shadow-3xl-footer: 10px -10px 10px rgba(0, 0, 0, 0.25);

  /* Common */
  --purple-color: #4f39f6;
  
}

.logo {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

body {
  overflow: hidden;
}

/* Scroll bar start*/
/* Скриване на scrollbar-а по подразбиране */
.scrollable-container::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
  transition: width 0.3s ease;
}

/* Пистата на скрола */
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Самият скролър */
.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16rem;
  transition: background 0.3s ease;
}

/* Показване на scrollbar-а при hover */
.scrollable-container:hover::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Scroll bar end */

/* .bg-deepblue {
  background-color: var(--deepblue-500);
}

.bg-amber {
  background-color: var(--amber-500);
}

.text-alambaster {
  color: var(--alambaster-500);
}

.text-amber {
  color: var(--amber-500);
} */
/* 
@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
} */

/* @source '../node_modules/some-third-party-lib*.css'; */