@import "tailwindcss";

@theme {
  --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alambaster-500: #e0e1dd;
}

.bg-deepblue {
  background-color: var(--deepblue-500);
}

.bg-amber {
  background-color: var(--amber-500);
}

.text-alambaster {
  color: var(--alambaster-500);
}