@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply dark:bg-[#111] dark:text-gray-300 /* font-inter */ bg-[url(https://media.gettyimages.com/id/1341288649/photo/75mpix-panorama-of-beautiful-mount-ama-dablam-in-himalayas-nepal.jpg?s=2048x2048&w=gi&k=20&c=myqGqw2-aPloyzruscJrGxtZ2KmIgt4-CVwRyxmmlrM=)];
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}


/* @variant lg {
  min-width: "925px";
} */

@theme {
  /* --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alambaster-500: #e0e1dd; */
  --default-font-family: "Inter", "sans-serif";
  --breakpoint-lg: 925px;
  --breakpoint-md: 768px; /* По подразбиране за md */


  /* Header */
  --bg-dark-header: #18181A;
  --bg-light-header: #fff;

  /* Buttons */
  --btn-dark-color: #d2d6dd;
  --btn-light-color: black;


  /* Footer */
  --bg-dark-footer: #18181a8a;
  --bg-light-footer: rgba(236, 233, 230, 0.638);
}

.logo {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}


/* .bg-deepblue {
  background-color: var(--deepblue-500);
}

.bg-amber {
  background-color: var(--amber-500);
}

.text-alambaster {
  color: var(--alambaster-500);
}

.text-amber {
  color: var(--amber-500);
} */
/* 
@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
} */

/* @source '../node_modules/some-third-party-lib*.css'; */
